<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>WELCOME {{user.first_name}} {{user.last_name}}</h1>

    <h2>Resent Books Review</h2><br>
    <ul>
        {% for book in books %}
        <li><a href="{{book.id}}">{{book.title}}</a></li>
        <p>Rating: {{book.review.all.first.rating}}</p>
        <p><a href="/users/{{book.added_by.id}}">{{book.added_by.first_name}}</a>: {{book.review.all.first.desc}}</p>
        {% endfor %}
    </ul>

  
</body>
</html>